ul{
    padding: 0;
    list-style: none;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    font-size: 24px;
    text-align: center;
}

header ul a{
    text-decoration: none;
}

header ul a:hover,
header ul a.active{
    text-decoration: underline;
}